<div class="all-page" *ngIf="appProperties" [class.tablet-view]="!appProperties.isDesktop"
    [class.desktop-view]="appProperties.isDesktop" [class.under-1680]="(appProperties.isUnder1680$ | async) === true"
    [class.above-1680]="(appProperties.isUnder1680$ | async) !== true"
    [class.rtl]="(appProperties.isRtl$ | async) === true" [class.ltr]="(appProperties.isRtl$ | async) !== true"
    [class.pop-up-open]="(appProperties.isPopUpOpen$ | async) === true">
    <router-outlet></router-outlet>
</div>